html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
h1{
    padding: 0 0 0 1.25rem;
    font-style: italic;
    font-family: "Monotype Corsiva", serif;
    font-size:2rem;
}
body {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-color: #E8EAF6;
    min-width: 600px;
}
header
{
    color: white;
    background-color: #1A237E;
    margin: 0em 4em 0.25em 4em;
}
header p {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
    padding: 0 0 0 1.25rem;
}
main{
    background-color: white;
    margin: 1em 4em 1em 4em;
    padding: 1em;
}
legend {
    font-size: 1.35rem;
    background-color: #7986CB;
    height: 1.70rem;
    color: #E8EAF6;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    padding: 5px 0;
}
section{
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
}
fieldset {
    margin: 0;
    padding: 0;
    background-color: #C5CAE9;
    width: 100%;
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0 auto;
}
table tr td {
    /* border: 1pt solid #95BEF0;   */
    line-height: 1.5em;
    vertical-align: top;
    padding: 0.5em 0.75em;
}
input[type=text],
input[type=date],
input[type=time],
input[type=number],
input[type=color] {
    height: 1.75em;
}
input[type=number]{
    width: 4em;
}
select {
    height: 2em;
}
input[name=title] {
    width: 100%;
}

input[name=city],
select {
    width: 75%;
}
textarea {
    width: 100%;
}
.copyright,.creativeCommonsTypes,.data{
    border: 1pt solid #9FA8DA;
    padding: 0.5em;
    margin-bottom: 0.4em;
}

input[type=submit],input[type=reset] {
    border: none;
    border-radius: 7px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #E91E63;
    padding: 0.5em 0 0.5em 0;
    margin: 0.3em;
    width: 7em;
    height: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
form p{
    margin-top: 0.5em;
}
input[type=submit]:hover{
    background-color: #FF4081;
}
input[type=reset]:hover{
    background-color: #FF4081;
}

.rectangle{
    margin: 0;
    padding: 0.5em;
    background-color: #9FA8DA;
}